## AUTOENCODERS - RECOMMENDATION SYSTEM

### Importing the Libraries

In [2]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

### Importing the Dataset

In [3]:
# We Won't be using this dataset
movies = pd.read_csv("ml-1m/movies.dat", sep = "::", header = None, engine = "python", encoding = "latin-1")
users = pd.read_csv("ml-1m/users.dat", sep = "::", header = None, engine = "python", encoding = "latin-1")
ratings = pd.read_csv("ml-1m/ratings.dat", sep = "::", header = None, engine = "python", encoding = "latin-1")

In [4]:
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [5]:
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [6]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

### Preparing the Training set and Test set

In [7]:
training_set = pd.read_csv("ml-100k/u1.base", delimiter = "\t")
training_set = np.array(training_set, dtype = "int")

test_set = pd.read_csv("ml-100k/u1.test", delimiter = "\t")
test_set = np.array(test_set, dtype = "int")

In [8]:
pd.DataFrame(training_set)

         0     1  2          3
0        1     2  3  876893171
1        1     3  4  878542960
2        1     4  3  876893119
3        1     5  3  889751712
4        1     7  4  875071561
...    ...   ... ..        ...
79994  943  1067  2  875501756
79995  943  1074  4  888640250
79996  943  1188  3  888640250
79997  943  1228  3  888640275
79998  943  1330  3  888692465

[79999 rows x 4 columns]

In [9]:
pd.DataFrame(test_set)

         0     1  2          3
0        1    10  3  875693118
1        1    12  5  878542960
2        1    14  5  874965706
3        1    17  3  875073198
4        1    20  4  887431883
...    ...   ... ..        ...
19994  458   648  4  886395899
19995  458  1101  4  886397931
19996  459   934  3  879563639
19997  460    10  3  882912371
19998  462   682  5  886365231

[19999 rows x 4 columns]

### Getting the no. of users and movies

In [10]:
nb_users = int(max(max(training_set[:, 0], ), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1], ), max(test_set[:, 1])))

print(nb_users, nb_movies)

943 1682

### Converting the data into an array with users in lines and movies in columns

In [11]:
def convert(data):
    # Create a list of lists (943 users to be precise)
    new_data = list()
    for id_users in range(1, nb_users + 1):
        id_movies = data[:, 1][data[:, 0] == id_users]
        id_ratings = data[:, 2][data[:, 0] == id_users]
        user_rating = np.zeros(nb_movies)
        
        # IMPORTANT PYTHON TRICK TO COMBINE
        user_rating[id_movies - 1] = id_ratings
        new_data.append(list(user_rating))
    return new_data


# Apply the conversion function on training set and test set
training_set = convert(training_set)
test_set = convert(test_set)

In [12]:
pd.DataFrame(training_set)

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.0,3.0,4.0,3.0,3.0,0.0,4.0,1.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
939,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
pd.DataFrame(test_set)

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Convert the data into Torch Tensors

In [14]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [15]:
training_set

tensor([[0., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [16]:
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

### Creating the Architecture of the Neural Network

In [17]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        
        # Full Connection between input features and 20 nodes in first hidden layer
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        
        # Use the sigmoid activation function
        self.activation = nn.Sigmoid()
    
    def forward(self, x):
        # x -> Input vector, encoding it twice and decoding it twice
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x


sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [18]:
sae

SAE(
  (fc1): Linear(in_features=1682, out_features=20, bias=True)
  (fc2): Linear(in_features=20, out_features=10, bias=True)
  (fc3): Linear(in_features=10, out_features=20, bias=True)
  (fc4): Linear(in_features=20, out_features=1682, bias=True)
  (activation): Sigmoid()
)

## Training the SAE

In [19]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    # Loop over users
    for id_user in range(nb_users):
        # Get the input vector of features for that user - 
        
        # Add fake dimension at index 0
        input_vector = Variable(training_set[id_user]).unsqueeze(0)
        target = input_vector.clone()
        
        # Add condition to optimize the memory
        if torch.sum(target.data > 0) > 0:
            output_vector = sae(input_vector)
            
            # DO not compute gradient with respect to target
            target.require_grad = False
            output_vector[target == 0] = 0
            loss = criterion(output_vector, target)
            
            # Represnts avg. of the error but by only considering the movies that were rated.
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            
            # To increase or decrease the weights
            loss.backward()
            
            train_loss += np.sqrt(loss.data * mean_corrector)
            s += 1.
            
            # Decides the intensity
            optimizer.step()
    print('epoch: '+str(epoch)+' loss: '+ str(train_loss/s))

epoch: 1 loss: tensor(1.7717)
epoch: 2 loss: tensor(1.0966)
epoch: 3 loss: tensor(1.0535)
epoch: 4 loss: tensor(1.0384)
epoch: 5 loss: tensor(1.0308)
epoch: 6 loss: tensor(1.0267)
epoch: 7 loss: tensor(1.0237)
epoch: 8 loss: tensor(1.0220)
epoch: 9 loss: tensor(1.0208)
epoch: 10 loss: tensor(1.0196)
epoch: 11 loss: tensor(1.0190)
epoch: 12 loss: tensor(1.0185)
epoch: 13 loss: tensor(1.0180)
epoch: 14 loss: tensor(1.0175)
epoch: 15 loss: tensor(1.0173)
epoch: 16 loss: tensor(1.0169)
epoch: 17 loss: tensor(1.0167)
epoch: 18 loss: tensor(1.0164)
epoch: 19 loss: tensor(1.0163)
epoch: 20 loss: tensor(1.0161)
epoch: 21 loss: tensor(1.0161)
epoch: 22 loss: tensor(1.0159)
epoch: 23 loss: tensor(1.0156)
epoch: 24 loss: tensor(1.0158)
epoch: 25 loss: tensor(1.0155)
epoch: 26 loss: tensor(1.0158)
epoch: 27 loss: tensor(1.0152)
epoch: 28 loss: tensor(1.0152)
epoch: 29 loss: tensor(1.0126)
epoch: 30 loss: tensor(1.0122)
epoch: 31 loss: tensor(1.0098)
epoch: 32 loss: tensor(1.0097)
epoch: 33 loss: tensor(1.0050)
epoch: 34 loss: tensor(1.0048)
epoch: 35 loss: tensor(1.0020)
epoch: 36 loss: tensor(1.0008)
epoch: 37 loss: tensor(0.9980)
epoch: 38 loss: tensor(0.9970)
epoch: 39 loss: tensor(0.9949)
epoch: 40 loss: tensor(0.9966)
epoch: 41 loss: tensor(0.9933)
epoch: 42 loss: tensor(0.9941)
epoch: 43 loss: tensor(0.9899)
epoch: 44 loss: tensor(0.9896)
epoch: 45 loss: tensor(0.9853)
epoch: 46 loss: tensor(0.9843)
epoch: 47 loss: tensor(0.9809)
epoch: 48 loss: tensor(0.9832)
epoch: 49 loss: tensor(0.9780)
epoch: 50 loss: tensor(0.9737)
epoch: 51 loss: tensor(0.9696)
epoch: 52 loss: tensor(0.9733)
epoch: 53 loss: tensor(0.9669)
epoch: 54 loss: tensor(0.9768)
epoch: 55 loss: tensor(0.9727)
epoch: 56 loss: tensor(0.9696)
epoch: 57 loss: tensor(0.9639)
epoch: 58 loss: tensor(0.9663)
epoch: 59 loss: tensor(0.9641)
epoch: 60 loss: tensor(0.9645)
epoch: 61 loss: tensor(0.9688)
epoch: 62 loss: tensor(0.9713)
epoch: 63 loss: tensor(0.9719)
epoch: 64 loss: tensor(0.9655)
epoch: 65 loss: tensor(0.9622)
epoch: 66 loss: tensor(0.9613)
epoch: 67 loss: tensor(0.9627)
epoch: 68 loss: tensor(0.9594)
epoch: 69 loss: tensor(0.9619)
epoch: 70 loss: tensor(0.9618)
epoch: 71 loss: tensor(0.9558)
epoch: 72 loss: tensor(0.9543)
epoch: 73 loss: tensor(0.9519)
epoch: 74 loss: tensor(0.9511)
epoch: 75 loss: tensor(0.9520)
epoch: 76 loss: tensor(0.9572)
epoch: 77 loss: tensor(0.9514)
epoch: 78 loss: tensor(0.9508)
epoch: 79 loss: tensor(0.9489)
epoch: 80 loss: tensor(0.9485)
epoch: 81 loss: tensor(0.9489)
epoch: 82 loss: tensor(0.9470)
epoch: 83 loss: tensor(0.9452)
epoch: 84 loss: tensor(0.9474)
epoch: 85 loss: tensor(0.9463)
epoch: 86 loss: tensor(0.9466)
epoch: 87 loss: tensor(0.9455)
epoch: 88 loss: tensor(0.9491)
epoch: 89 loss: tensor(0.9552)
epoch: 90 loss: tensor(0.9522)
epoch: 91 loss: tensor(0.9495)
epoch: 92 loss: tensor(0.9496)
epoch: 93 loss: tensor(0.9487)
epoch: 94 loss: tensor(0.9471)
epoch: 95 loss: tensor(0.9459)
epoch: 96 loss: tensor(0.9561)
epoch: 97 loss: tensor(0.9528)
epoch: 98 loss: tensor(0.9486)
epoch: 99 loss: tensor(0.9462)
epoch: 100 loss: tensor(0.9494)
epoch: 101 loss: tensor(0.9490)
epoch: 102 loss: tensor(0.9486)
epoch: 103 loss: tensor(0.9464)
epoch: 104 loss: tensor(0.9480)
epoch: 105 loss: tensor(0.9455)
epoch: 106 loss: tensor(0.9447)
epoch: 107 loss: tensor(0.9451)
epoch: 108 loss: tensor(0.9439)
epoch: 109 loss: tensor(0.9410)
epoch: 110 loss: tensor(0.9409)
epoch: 111 loss: tensor(0.9414)
epoch: 112 loss: tensor(0.9415)
epoch: 113 loss: tensor(0.9492)
epoch: 114 loss: tensor(0.9526)
epoch: 115 loss: tensor(0.9481)
epoch: 116 loss: tensor(0.9467)
epoch: 117 loss: tensor(0.9442)
epoch: 118 loss: tensor(0.9418)
epoch: 119 loss: tensor(0.9391)
epoch: 120 loss: tensor(0.9409)
epoch: 121 loss: tensor(0.9392)
epoch: 122 loss: tensor(0.9426)
epoch: 123 loss: tensor(0.9399)
epoch: 124 loss: tensor(0.9372)
epoch: 125 loss: tensor(0.9360)
epoch: 126 loss: tensor(0.9381)
epoch: 127 loss: tensor(0.9342)
epoch: 128 loss: tensor(0.9362)
epoch: 129 loss: tensor(0.9405)
epoch: 130 loss: tensor(0.9342)
epoch: 131 loss: tensor(0.9322)
epoch: 132 loss: tensor(0.9334)
epoch: 133 loss: tensor(0.9313)
epoch: 134 loss: tensor(0.9344)
epoch: 135 loss: tensor(0.9320)
epoch: 136 loss: tensor(0.9329)
epoch: 137 loss: tensor(0.9315)
epoch: 138 loss: tensor(0.9323)
epoch: 139 loss: tensor(0.9290)
epoch: 140 loss: tensor(0.9312)
epoch: 141 loss: tensor(0.9295)
epoch: 142 loss: tensor(0.9294)
epoch: 143 loss: tensor(0.9277)
epoch: 144 loss: tensor(0.9296)
epoch: 145 loss: tensor(0.9271)
epoch: 146 loss: tensor(0.9271)
epoch: 147 loss: tensor(0.9249)
epoch: 148 loss: tensor(0.9270)
epoch: 149 loss: tensor(0.9249)
epoch: 150 loss: tensor(0.9256)
epoch: 151 loss: tensor(0.9248)
epoch: 152 loss: tensor(0.9255)
epoch: 153 loss: tensor(0.9234)
epoch: 154 loss: tensor(0.9234)
epoch: 155 loss: tensor(0.9228)
epoch: 156 loss: tensor(0.9234)
epoch: 157 loss: tensor(0.9225)
epoch: 158 loss: tensor(0.9229)
epoch: 159 loss: tensor(0.9259)
epoch: 160 loss: tensor(0.9246)
epoch: 161 loss: tensor(0.9220)
epoch: 162 loss: tensor(0.9223)
epoch: 163 loss: tensor(0.9213)
epoch: 164 loss: tensor(0.9219)
epoch: 165 loss: tensor(0.9211)
epoch: 166 loss: tensor(0.9211)
epoch: 167 loss: tensor(0.9219)
epoch: 168 loss: tensor(0.9214)
epoch: 169 loss: tensor(0.9201)
epoch: 170 loss: tensor(0.9208)
epoch: 171 loss: tensor(0.9196)
epoch: 172 loss: tensor(0.9204)
epoch: 173 loss: tensor(0.9194)
epoch: 174 loss: tensor(0.9200)
epoch: 175 loss: tensor(0.9190)
epoch: 176 loss: tensor(0.9199)
epoch: 177 loss: tensor(0.9195)
epoch: 178 loss: tensor(0.9239)
epoch: 179 loss: tensor(0.9246)
epoch: 180 loss: tensor(0.9251)
epoch: 181 loss: tensor(0.9237)
epoch: 182 loss: tensor(0.9239)
epoch: 183 loss: tensor(0.9229)
epoch: 184 loss: tensor(0.9236)
epoch: 185 loss: tensor(0.9221)
epoch: 186 loss: tensor(0.9232)
epoch: 187 loss: tensor(0.9217)
epoch: 188 loss: tensor(0.9223)
epoch: 189 loss: tensor(0.9210)
epoch: 190 loss: tensor(0.9218)
epoch: 191 loss: tensor(0.9210)
epoch: 192 loss: tensor(0.9222)
epoch: 193 loss: tensor(0.9211)
epoch: 194 loss: tensor(0.9216)
epoch: 195 loss: tensor(0.9209)
epoch: 196 loss: tensor(0.9244)
epoch: 197 loss: tensor(0.9225)
epoch: 198 loss: tensor(0.9213)
epoch: 199 loss: tensor(0.9216)
epoch: 200 loss: tensor(0.9221)

## Testing the SAE

In [20]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input_vector = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input_vector)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        s += 1.
print('test loss: '+ str(test_loss/s))

test loss: tensor(0.9588)